/* App */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Outfit";
}
body {
  color: #222;
  background-color: #faf3e0;
}

/* Layout */

main {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 15px;
}
header nav button {
  border-radius: 20%;
}

/* My Groups */

.group-container {
  background-color: #b0c4de;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.group-info {
  padding: 10px;
}
.group-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.group-info p {
  font-size: 16px;
  color: #666;
}
.group-container .group-info a {
  text-decoration: none;
  color: inherit;
}

/* My Groups Page */
.my-groups-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Create Group */

.create-group-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
.create-group-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.create-group-container button {
  background-color: #4cd9b7;
}
.create-group-container button:hover {
  background-color: #20c997;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #4cd9b7;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}
button:hover {
  background-color: #20c997;
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.create-group-container {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #0056b3;
}

/* Media query for responsiveness */
@media (max-width: 500px) {
  .modal-content {
    max-width: 90%;
  }
}

/* Group Details Page */
.group-details-page h1 {
  text-align: center;
}
.group-tab-buttons {
  display: flex;
  gap: 10px;
}
.group-tab-buttons button {
  background-color: #4cd9b7; 
  border: none;
  padding: 10px;
  cursor: pointer;
}

.group-tab-buttons button.active {
  background-color: #2f9980;
}

/* Add Expense Component */
.add-expense {
  height: 70vh;
  overflow-y: auto;
}
.add-expense button {
  /* background-color: #20c997; */
  background-color: #4cd9b7;
}
.add-expense button:hover {
  background-color: #20c997;
}
.split-equally-container,
.split-manually-label-and-checkbox,
.paid-by-container {
  display: flex;
  align-items: center;
}
.split-equally-container label,
.split-manually-label-and-checkbox label {
  width: 100%;
}
.expense-form-container {
  margin-bottom: 10px;
}
.paid-by-container {
  gap: 180px;
}
.members-involved-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.split-options-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.add-members-container {
  display: flex;
  flex-wrap: wrap;
}
.manual-split-fields {
  display: flex;
  flex-wrap: wrap;
}

.manual-split-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.manual-split-item select {
  width: 70px;
}
.manual-split-item button {
  width: 80px;
  background-color: #ff6347;
}
.manual-split-item button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.manual-split-item select,
.manual-split-item input[type="number"],
.manual-split-item input[type="text"] {
  margin-right: 10px;
}

/* My Friends Page */
.my-friends-page h1 {
  text-align: center;
  margin-bottom: 20px;
}
.add-friends-button {
  margin-bottom: 20px;
}

/* Add Members & Members Involved Component */
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-container > div {
  display: inline-flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin as needed */
}

checkbox-container > label {
  margin-left: 5px;
}
.checkbox-input {
  margin-right: 5px;
}

.checkbox-label {
  margin-left: 5px;
  font-weight: bold;
}
.add-members-label {
  font-size: 20px;
  margin-left: 5px;
}

/* Expense Card Component */

.split-amounts {
  margin-top: 10px;
}

/* Activity Card Component */

.activity-container {
  background-color: #b0c4de;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}
.activity-info {
  padding: 10px;
}

.activity p {
  font-size: 16px;
  color: #666;
}
